.hero-image{
    background-color:rgb(54, 49, 49);
    background-image:url(../Images/images1997-5c2f99436aa28-1024x683.jpg);
    background-position: center;
    height: 100%;
    display: flex;
    justify-content: center;
    

}


header{
    color:rgb(94, 179, 218);
    font-size: medium;
    position: relative;
    top: 0%;
}

h2{
    color:rgba(126, 94, 14, 0.901);
    font-size: larger;
}

body{color: rgb(148, 113, 67);
    background-color:rgb(244, 240, 240);
 padding: 1px;
 margin: 1px;
}

.sticky{
    background-color:rgba(206, 171, 189, 0.9) ;
    position: fixed;
    top: 0px;
    margin: 0px;
padding: 1px;
}

.hero-image{
    background-image: linear-gradient(rgba(195, 182, 182, 0)) 

}

h1{
    color:rgba(126, 94, 14, 0.901);
    background-position:left;
}

p{color: rgba(121, 103, 220, 0.901);

}

footer{
    color: rgb(184, 151, 111);
    background-color: rgb(255, 248, 252);
    background-position:top right;
}

.image img{
    border-radius: 100px;
}

h3{margin: 10px;
border: 2px dashed gold;
padding: 5px;
 width:fit-content;
 height: 50%;
}

ul{
    color:rgb(128, 96, 57);
}